<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/javascripts/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.js"></script>
  <script>

var myApp = angular.module('app', ['ngRoute']);

    
  
myApp.service('PoCDataSerice', function ($q, $http) {
    
    var defer = $q.defer();
    
    this.GetPOCData = function () {
        
        return $http.get('/poc/GetData').success(function (res) {
            debugger;
            if (res != null) {
                defer.resolve(res);
                return defer.promise;
            }
                    
        }).error(function (error) {
            debugger;
            return defer.reject(error);
                    
        });
    }
            
});

myApp.controller('PocController', function ($scope, PoCDataSerice) {
    debugger;
    PoCDataSerice.GetPOCData().then(function (data) {
        debugger;
        var objCount = [];
        var objException = [];
        angular.forEach(data.data, function (value, key) {
            objCount.push(value.count);
            objException.push(value.value);
        });
        
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: objException,
                datasets: [{
                        label: '# of Votes',
                        data: objCount,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
            },
            options: {
                scales: {
                    yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                }
            }
        });
        debugger;
                
    }, function (error) {    
        debugger;
    });
            
});

  </script>
</head>
<body ng-app="app" >
    
	<div ng-controller="PocController">
    <div ng-view></div>
	</div>

</body>
</html>
